In [116]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
import pickle

In [78]:
data = pd.read_csv("Dataset/processed.csv")

In [79]:
data.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Name
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,1.75,Maruti Wagon R LXI CNG
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,Hyundai Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,4.50,Honda Jazz V
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,Maruti Ertiga VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,Audi A4 New 2.0 TDI Multitronic

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           6019 non-null   object
 1   Year               6019 non-null   int64
 2   Kilometers_Driven  6019 non-null   int64
 3   Fuel_Type          6019 non-null   object
 4   Transmission       6019 non-null   object
 5   Owner_Type         6019 non-null   object
 6   Mileage            6019 non-null   float64
 7   Engine             6019 non-null   float64
 8   Power              6019 non-null   float64
 9   Seats              6019 non-null   float64
 10  Price              6019 non-null   float64
 11  Name               6019 non-null   object
dtypes: float64(5), int64(2), object(5)
memory usage: 564.4+ KB

In [81]:
Y = data["Price"]
Y

0        1.75
1       12.50
2        4.50
3        6.00
4       17.74
        ...
6014     4.75
6015     4.00
6016     2.90
6017     2.65
6018     2.50
Name: Price, Length: 6019, dtype: float64

In [82]:
X = data.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]]
X

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,Maruti Wagon R LXI CNG
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,Hyundai Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,Honda Jazz V
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,Maruti Ertiga VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,Audi A4 New 2.0 TDI Multitronic
...,...,...,...,...,...,...,...,...,...,...,...
6014,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,Maruti Swift VDI
6015,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,Hyundai Xcent 1.1 CRDi S
6016,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,Mahindra Xylo D4 BSIV
6017,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,Maruti Wagon R VXI
6018,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,Chevrolet Beat Diesel

In [83]:
X.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name
0,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,Maruti Wagon R LXI CNG
1,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,Hyundai Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,Honda Jazz V
3,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,Maruti Ertiga VDI
4,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,Audi A4 New 2.0 TDI Multitronic

In [84]:
X["Fuel_Type"].unique()

array(['CNG', 'Diesel', 'Petrol', 'LPG', 'Electric'], dtype=object)

In [85]:
X.replace({'CNG':0, 'Diesel':1, 'Petrol':2, 'LPG':3, 'Electric':4}, inplace=True)

/home/ritik/.local/lib/python3.6/site-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [86]:
X["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [87]:
X.replace({'Manual':0, 'Automatic':1}, inplace=True)

In [88]:
X["Owner_Type"].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [89]:
X.replace({'First':0, 'Second':1, 'Fourth & Above':3, 'Third':2}, inplace=True)

In [90]:
X.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name
0,Mumbai,2010,72000,0,0,0,26.60,998.0,58.16,5.0,Maruti Wagon R LXI CNG
1,Pune,2015,41000,1,0,0,19.67,1582.0,126.20,5.0,Hyundai Creta 1.6 CRDi SX Option
2,Chennai,2011,46000,2,0,0,18.20,1199.0,88.70,5.0,Honda Jazz V
3,Chennai,2012,87000,1,0,0,20.77,1248.0,88.76,7.0,Maruti Ertiga VDI
4,Coimbatore,2013,40670,1,1,1,15.20,1968.0,140.80,5.0,Audi A4 New 2.0 TDI Multitronic

In [94]:
a1 = X.iloc[0,:]

# Label Encoding Our Dataset

In [95]:
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0, 10])], 
                                      remainder='passthrough')

In [96]:
X = columnTransformer.fit_transform(X)
X

<6019x1896 sparse matrix of type '<class 'numpy.float64'>'
	with 56856 stored elements in Compressed Sparse Row format>

# Applying train test splt

In [97]:
X_train, X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

# Training Initial Model

In [98]:
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [99]:
y_pred = regressor.predict(X_test)

In [100]:
print("MAE =", mean_absolute_error(y_test,y_pred))
mse=mean_squared_error(y_test,y_pred)
print("MSE =", mse)
print("RMSE =", np.sqrt(mse))
print("R-Squre", r2_score(y_test,y_pred))

MAE = 2.1623478920922787
MSE = 17.03242887279762
RMSE = 4.127036330443145
R-Squre 0.8588426228861145

In [117]:
pickle.dump(regressor, open('model.pkl', 'wb'))

In [118]:
pickle.dump(columnTransformer, open('data.pkl', 'wb'))

In [108]:
ans = np.array(['Mumbai', 2019, 2000, 0, 1, 2, 20, 1000, 5, 10, 'Honda Jazz V'])

In [109]:
d = {"d": ans}

In [110]:
d = pd.DataFrame(d)

In [111]:
d = d.transpose()

In [70]:
an.tolist()

['Mumbai',
 2010,
 72000,
 0,
 0,
 0,
 26.6,
 998.0,
 58.16,
 5.0,
 'Maruti Wagon R LXI CNG']

In [112]:
x = columnTransformer.transform(d)

/home/ritik/.local/lib/python3.6/site-packages/sklearn/compose/_column_transformer.py:440: FutureWarning: Given feature/column names or counts do not match the ones for the data given during fit. This will fail from v0.24.
  FutureWarning)

In [113]:
regressor.predict(x)

array([-1.23672725])

In [107]:
columnTransformer.sparse_output_

True